<p-toolbar>
  <div class="p-toolbar-group-start left-items">
    <p-autoComplete
      [(ngModel)]="selectedItem"
      (completeMethod)="(search)"
      [disabled]="false"
      placeholder="Search...."
    />
    <p-button
      [style]="{ 'margin-left': '15px' }"
      label="My tasks"
      [raised]="true"
      [rounded]="true"
      severity="warning"
      icon="pi pi-check"
    />
  </div>
  <div class="p-toolbar-group-end right-items">
    <p-button
      label="Notifications"
      badge="8"
      [style]="{
        'background-color': '#d9079d',
        color: '#ffff',
        border: '1px solid #d9079d',
        'margin-right': '10px',
        'margin-left': '10px'
      }"
    />
    <p-avatar
      icon="pi pi-user"
      styleClass="mr-2"
      size="large"
      [style]="{ 'background-color': '#d9079d', color: '#ffff' }"
    ></p-avatar>
  </div>
</p-toolbar>

<router-outlet></router-outlet>
