@if(isLoggedIn){
<p-toolbar>
  <div class="p-toolbar-group-start left-items">
    <p-button
      [style]="{ 'margin-left': '15px' }"
      label="My tasks"
      [raised]="true"
      [rounded]="true"
      severity="warning"
      icon="pi pi-check"
    />
  </div>
  <div class="p-toolbar-group-end right-items">
    <p-button
      label="{{ username }}"
      icon="pi pi-user"
      [style]="{
        'background-color': 'orange',
        border: 'none'
      }"
    />
    <p-button
      label="Log out"
      icon="pi pi-sign-out"
      [style]="{
        'background-color': 'gray',
        color: '',
        border: '1px solid #d9079d',
        'margin-right': '10px',
        'margin-left': '10px'
      }"
      (onClick)="logout()"
    />
  </div>
</p-toolbar>
}
<router-outlet></router-outlet>
