.container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.form-wrapper {
  display: flex;
  flex-direction: column;
  margin: 20px auto;
  padding: 20px;
  border:1px solid rgb(187, 181, 181);
}

.form-group {
  margin: 20px;
}

.form-check-label {
  background-color: rgb(241, 170, 76);
  padding: 5px 15px;
  margin-left: 5px;
  border-radius: 10px;
  color:white;
}